# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.sql
*.sqlite3

# Environment variables
.env

# Virtual environment
.venv/
env/
venv/

# IDE files
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Ignore Django migration cache
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/