{% extends 'admin_dashboard/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="mb-3">
        <h4>Adjust Fees</h4>
        <div>

            <div class="card mb-3">
                <form method="post" action='/admin_set_fees/'>

                    {% csrf_token %}

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-2">
                                <label for="regfee" class="form-label">Registration Fee</label>
                                <input type="number" class="form-control" name="registration_fee" step="0.01" value="{{ reg_fee }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="insurance" class="form-label">Insurance</label>
                                <input type="number" class="form-control" name="insurance" step="0.01" value="{{ insurance }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="sfdf" class="form-label">SFDF</label>
                                <input type="number" class="form-control" name="sfdf" step="0.01" value="{{ sfdf }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="srf" class="form-label">srf</label>
                                <input type="number" class="form-control" name="srf" step="0.01" value="{{ srf }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="misc" class="form-label">Miscellaneous</label>
                                <input type="number" class="form-control" name="misc" step="0.01" value="{{ misc }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="athletics" class="form-label">Athletics</label>
                                <input type="number" class="form-control" name="athletics" step="0.01" value="{{ athletics }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="scuaa" class="form-label">SCUAA</label>
                                <input type="number" class="form-control" name="scuaa" step="0.01" value="{{ scuaa }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="libraryfee" class="form-label">Library Fee</label>
                                <input type="number" class="form-control" name="library_fee" step="0.01" value="{{ library_fee }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="labfees" class="form-label">Laboratory Fee</label>
                                <input type="number" class="form-control" name="lab_fees" step="0.01" value="{{ lab_fees }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="tuitionfee" class="form-label">Tuition Fee <b style="color: red; font-size: 12px;">*Per unit</b></label>
                                <input type="number" class="form-control" name="tuition_fee" step="0.01" value="{{ tuition_fee }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="nstpfee" class="form-label">NSTP Fee</label>
                                <input type="number" class="form-control" name="nstp_fee" step="0.01" value="{{ nstp_fee }}" required>
                            </div>

                            <div class="col-md-2">
                                <label for="idfee" class="form-label">ID Fee</label>
                                <input type="number" class="form-control" name="id" step="0.01" value="{{ id_fee }}" required>
                            </div>

                            
                        </div>
                    
                    </div>
        
                <!-- Submit Button -->
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                
            </form>
        </div>
{% endblock %}
