{% extends 'admin_dashboard/base.html' %}
{% load static %}

{% block title %}Checklist - Grades{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{% static 'css/checklist.css' %}">
<style>
  table th, table td{
    vertical-align: middle;
  }
</style>
{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="header">
    <h5>CERTIFICATE OF GRADES</h5>
    <hr>
  </div>
  {% if messages %}
  <div class="alert alert-danger">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
  </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    {% if student %}
    <div class="row">
      
      <div class="col-md-6">
        <p><strong>Student No.:</strong><span class="student-fullname"> {{ student.studentnumber }}</span></p>
        <p><strong>Full Name:</strong><span class="student-fullname"> {{ student.firstname }} {{ student.middlename|default:'' }} {{ student.lastname }} {{ student.suffix|default:'' }}</span></p>
        <p><strong>Year Level:</strong><span class="student-year"> {{ student.year }}</span></p>
        <p><strong>Degree:</strong><span class="student-course"> {{ student.course.full }}</span></p>
        <p><strong>Date:</strong><span class="student-date"> {{ date|date:"F j, Y" }}</span></p>
      </div>
      <div class="col-md-6">
        <p><strong>Academic Year:</strong> 
          <select class="form-select d-inline"style="width:30%;" name="schoolyear">
            {% for year in academic_years %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </p>
      </div>
      {% endif %}
    </div>

    <table class="table table-custom">
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Lec | Lab</th>
          <th>Course Title</th>
          <th style="width: 10%;">Grades</th>
          <th>Remarks</th>
          <th>Instructors</th>
        </tr>
      </thead>
      <tbody>
        {% for item in checklist_items %}
        <tr>
          <td>{{ item.subject.course_code }}</td>
          <td style="text-align: center;">{{ item.subject.subject_units_lec}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.subject.subject_units_lab }}</td>
          <td>{{ item.subject.course_title }}</td>
          <td><input type="number" class="form-control" name="grades[]" step="0.01" required></td>
          <td>{{ item.status }}
          <td>
            <select class="form-select" name="instructors[]">
              <option value="" selected>None</option>
              {% for instructor in instructors %}
              <option value="{{ instructor.id }}">{{ instructor.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="summary">
      <p><strong>Total subjects enrolled:</strong> {{total_subjects}}</p>
      <p><strong>Total credits enrolled:</strong> {{total_units}}</p>
    </div>
    <div class="actions">
      <button class="btn btn-primary" type="submit">Submit and Print COG</button>
    </div>
  </form>
</div>
{% endblock %}