{% extends 'admin_dashboard/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="mb-3">
            <h4>Admin Dashboard</h4>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 d-flex">
                <div class="card flex-fill border-0 illustration">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <div class="col-6">
                                <div class="p-3 m-1">
                                    <h4>Welcome Back, Admin!</h4>
                                    <p class="mb-0">Admin Dashboard, DCS Enrollment System</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
                <div class="card flex-fill border-0">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h4 class="mb-2">
                                    {{ number_of_students_enrolled }}
                                </h4>
                                <p class="mb-2">
                                    Total Students
                                </p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2">
                                        Enrolled
                                    </span>
                                    <span class="text-muted">
                                        Year 2024-2025
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table Element -->
        <div class="card border-0">
            <div class="card-header">
                <h5 class="card-title">
                    Students Table
                </h5>
                <h6 class="card-subtitle text-muted">
                    This table provides an overview of enrolled students, including their ID, course, year level, and enrollment status for the current academic year.
                </h6>                            
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Student ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Course</th>
                            <th scope="col">Year Level</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student_info in allstudents %}
                            <tr>
                                <td>{{ student_info.studentnumber }}</td>
                                <td>{{ student_info.firstname }} {{ student_info.middlename }} {{ student_info.lastname }}</td>
                                <td>{{ student_info.course }}</td>
                                <td>{{ student_info.year }}</td>
                                <td>{{ student_info.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
{% endblock %}
