{% extends 'admin_dashboard/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="mb-3">
        <h4>Process Certificate Of Registration</h4>
        <div>
            <!-- Student Enrollment Form -->
              <!-- Personal Information -->
            <div class="card mb-3">
                
                <form method="post" action='/print_cor/{{ enrolled_student.studentnumber }}'>
                    {% csrf_token %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="semester" class="form-label">Semester</label>
                                <select id="semester" class="form-select" name="semester"required>
                                    <option value="1st Semeseter">1st Semeseter</option>
                                    <option value="2nd Semeseter">2nd Semeseter</option>
                                </select>
                            </div>

                            <div class="col-md-1">
                                <label for="section" class="form-label">Year</label>
                                <select id="yearstanding" class="form-select" name="yearstanding" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            
                            <div class="col-md-1">
                                <label for="section" class="form-label">Section</label>
                                <input type="text" class="form-control" name="section" placeholder="section"required>
                            </div>

                            <div class="col-md-2">
                                <label for="yearlevel" class="form-label">Year Level</label>
                                <select id="yearlevel" class="form-select" name="yearlevel" required>
                                    <option value="1st Year">1st Year</option>
                                    <option value="2nd Year">2nd Year</option>
                                    <option value="3rd Year">3rd Year</option>
                                    <option value="4th Year">4th Year</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="old_new" class="form-label">Old/New Student</label>
                                <select id="old_new" class="form-select" name="old_new" required>
                                    <option value="Old">Old</option>
                                    <option value="New">New</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="status" class="form-label">Registration Status</label>
                                <select id="status" class="form-select" name="status" required>
                                    <option value="regular">Regular</option>
                                    <option value="irregular">Irregular</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="schoolyear" class="form-label">School Year</label>
                                <select id="schoolyear" class="form-select" name="schoolyear" required>
                                    <option value="{{ current_SY }} - {{next_SY}}">{{ current_SY }} - {{ next_SY }}</option>
                                    <option value="{{ previous_SY }} - {{ current_SY }}">{{ previous_SY }} - {{ current_SY }}</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="card-body">

                        <div class="col-md-2">
                            <select id="subject1" class="form-select" name="subject1">
                                <option value="">Subject 1</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select id="subject2" class="form-select" name="subject2">
                                <option value="">Subject 2</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="subject3" class="form-select" name="subject3">
                                <option value="">Subject 3</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-md-2">
                            <select id="subject4" class="form-select" name="subject4">
                                <option value="">Subject 4</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select id="subject5" class="form-select" name="subject5">
                                <option value="">Subject 5</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select id="subject6" class="form-select" name="subject6">
                                <option value="">Subject 6</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select id="subject7" class="form-select" name="subject7">
                                <option value="">Subject 7</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="subject8" class="form-select" name="subject8">
                                <option value="">Subject 8</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-md-2">
                            <select id="subject9" class="form-select" name="subject9">
                                <option value="">Subject 9</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select id="subject10" class="form-select" name="subject10">
                                <option value="">Subject 10</option>
                                {% for code in subject_codes %}
                                <option value="{{ code.course_code }}">{{ code.course_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                
                    </div>
        
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Print Cor</button>
                </div>
                
            </form>
        </div>
{% endblock %}
