<div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="subjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="subjectModalLabel">Add Subject</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="subjectForm" action="{% url 'save_subject' %}" method="POST" data-url="{% url 'save_subject' %}">
                {% csrf_token %}
                    <input type="hidden" id="subjectId" name="subject_id">
                    <div class="mb-3">
                        <label for="program" class="form-label">Program</label>
                        <select class="form-select" id="program" name="program" required>
                            <option value="" selected disabled>Choose program</option>
                            {% for program in programs %}
                                <option value="{{ program.id }}">{{ program.name }} - {{ program.full }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  <div class="mb-3">
                      <label for="courseCode" class="form-label">Course Code</label>
                      <input type="text" class="form-control" id="courseCode" name="course_code" placeholder="Enter course code">
                  </div>
                  <div class="mb-3">
                      <label for="courseTitle" class="form-label">Course Title</label>
                      <input type="text" class="form-control" id="courseTitle" name="course_title" placeholder="Enter course title">
                  </div>
                  <div class="mb-3">
                      <label for="year" class="form-label">Year</label>
                      <select class="form-select" id="year" name="year" required>
                          <option value="" selected disabled>Choose year</option>
                          <option value="1">First Year</option>
                          <option value="2">Second Year</option>
                          <option value="3">Third Year</option>
                          <option value="4">Fourth Year</option>
                      </select>
                  </div>
                  <div class="mb-3">
                      <label for="semester" class="form-label">Semester</label>
                      <select class="form-select" name="semester" id="semester">
                          <option value="" selected disabled>Choose semester</option>
                          <option value="1">First Semester</option>
                          <option value="2">Second Semester</option>
                          <option value="3">Midyear</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="subjectUnitsLec" class="form-label">Lecture Units</label>
                    <input type="number" class="form-control" id="subjectUnitsLec" name="subject_units_lec" placeholder="Enter lecture units" required>
                  </div>
                  <div class="mb-3">
                    <label for="subjectUnitsLab" class="form-label">Laboratory Units</label>
                    <input type="number" class="form-control" id="subjectUnitsLab" name="subject_units_lab" placeholder="Enter lab units" required>
                  </div>
                  <div class="mb-3">
                        <label for="prerequisite" class="form-label">Prerequisite</label>
                        <select class="form-select" id="prerequisite" name="prerequisites" multiple>
                            <option value="" selected>None</option>
                            {% for subject in allsubjects %}
                                <option value="{{ subject.id }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                        <small class="text-muted">Hold down Ctrl (Windows) or Cmd (Mac) to select multiple options.</small>
                    </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="subjectForm" class="btn btn-primary">Save</button>
          </div>
      </div>
  </div>
</div>
