{% extends 'student_dashboard/base.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="mb-3">
    <h4>Student Dashboard</h4>
</div>
<div class="row">
    <div class="col-12 col-md-6 d-flex">
        <div class="card flex-fill border-0 illustration">
            <div class="card-body p-0 d-flex flex-fill">
                <div class="row g-0 w-100">
                    <div class="col-6">
                        <div class="p-3 m-1">
                            <h4>Welcome Back, {{ user.first_name }}!</h4>
                            <p class="mb-0">{{ student.course }}</p>
                            <p class="mb-0">{{ student.year }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body py-4">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            7
                        </h4>
                        <p class="mb-2">
                            Total Subjects
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                                Enrolled for
                            </span>
                            <span class="text-muted">
                               Academic Year 2024-2025
                            </span>
                        </div>
    
    </div>
{% endblock %}
